<!-- addUserToProject FORM -->
<div id="addUserToProject">
    <form  action="/addUserToProject" method="post">
        <label>uoid</label>
            <input  ondrop="drop(event)" ondragover="allowDrop(event)"  type="text" class="form-control" name="uoid">	
        <label>poid</label>
            <input  ondrop="drop(event)" ondragover="allowDrop(event)" type="text" class="form-control" name="poid">	
            <br>
            <button type="submit" class="btn btn-warning ">addUserToProject</button>
        <hr>
    </form>
</div>