<!-- checkinIFC FORM -->
<div id="checkinIFC">
    <form  action="/checkin" method="post">
        <div class="form-group">
            <label>poid</label>
            <input type="text" class="form-control" name="poid">

            <label>comment</label>
            <input type="text" class="form-control" name="comment">

            <label>poid</label>
            <input type="file" class="form-control" name="file">

        </div>
            <button type="submit" class="btn btn-warning ">checkin</button>
    </form>
</div>