<!-- createProject FORM -->
<div id="createProject">
    <form  action="/createProject" method="post">
        <div class="form-group">
            <label>projectName</label>
                <input type="text" class="form-control" name="projectName">
            <label>schema</label>
            <select name="schema">
                <option value="ifc2x3tc1">ifc2x3tc1</option>
                <option value="ifc4">ifc4</option>
            </select><br>
        </div>
            <button type="submit" class="btn btn-warning ">createProject</button>
            <hr>
            <p>Need a subproject? <a href="/createSubProject">createSubProject</a></p>
    </form>
</div>