<!-- LOGIN FORM -->	 
<div id="login">
    <form  action="/login" method="post">

        <% if (message.length>0) { %>
        <div class="alert alert-danger"><%= message %></div>
        <% } %>

        <div class="form-group">
            <label>Username</label>
            <input type="text" class="form-control" name="username">
        </div>

        <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" name="password">
        </div>
            <button type="submit" class="btn btn-warning ">login</button>
                <hr>
            <p>Register user by admin <a href="/register">Register</a></p>
    </form>
</div>
